
body{
  background: linear-gradient(175deg,#110023,#775ab1);
  color:#deaffc;
}

/* estilos del header */
.logo-principal a img{
  width: 10rem;
  height: 10rem;
  text-align: center;
}


/* estilos del home */
.inicio-texto{
  text-align: justify;
}


/* estilos de tratamientos */
.carta-titulo{
  display: none;
  color: #000
}
.carta-texto{
  display: none;
  color: #000;
  font-weight: 600;
}
.card-img{
  height: 100%;
}


/* estilos de conocenos */
.conocenos {
  display: grid;
  grid-template-areas:
    "titulo titulo titulo"
    "texto texto texto"
    "mapa mapa mapa";
  justify-content: center;
  text-align: center;
}
.conocenos-titulo {
  grid-area: titulo;
  margin-top: 1rem;
}
.conocenos-texto {
  grid-area: texto;
  padding: 1.3rem;
  text-align: justify;
}
.conocenos-texto img {
  display: none;
}
.conocenos-mapa {
  grid-area: mapa;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1rem;
}
.conocenos-mapa iframe {
  width: 100%;
  border: 1px solid #b9a48b;
  border-radius: 20px;
  opacity: 85%;
}
.conocenos-mapa-datos li {
  font-size: 1.2rem;
  color: #deaffc;
  text-align: justify;
}



/*estilos del footer */
li{
  list-style: none;
}
.final-redes{
  border-right: 2px pink solid;
}
.final-redes li img{
  width: 1.5rem;
  height: 1.5rem;
}
.final-menu{
  display: none;
}


/* media 982 */

@media only screen and (min-width:982px) {
  /* media header */
  .logo-principal a img{
  width: 20rem;
  height: 20rem;
  text-align: center;
  }
  
  /* media home */
  .inicio-texto{
    font-size: 1.5rem;
  }
  .inicio-carrusel{
    width: 57rem;
    margin: auto;
    margin-top: 4rem;
  }

  /* media tratamientos */
  .tratamientos-texto{
    text-align: justify;
    padding: 1rem;
  }
  .tratamientos-cartas{
    padding: 1.2rem;
    width: 64rem;
    margin-left: .3rem;
  }
  .carta-titulo{
    display: inline-block;
    color: #3d3c3b;
  }
  .carta-texto{
    display: inline-block;
    margin-top: 9rem;
    color: #000;
  }

  
  .productos-texto{
    text-align: justify;
    padding: 1rem;
  }
  .productos-cartas{
    padding: 1.2rem;
    width: 64rem;
    margin-left: .3rem;
  }

/*media conocenos 1200*/
.conocenos {
  display: grid;
  grid-template-areas:
    "titulo titulo titulo titulo"
    "texto texto mapa mapa"
    "texto texto mapa mapa";
  align-content: center;
  margin: 3rem;
}

.conocenos-titulo {
  grid-area: titulo;
}

.conocenos-texto {
  grid-area: texto;
  display: flex;
  flex-flow: column nowrap;
  text-align: justify;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 3.6rem;
}
.conocenos-texto img {
  display: block;
  width: 30rem;
  height: 26rem;
  padding: 3rem;
  opacity: 85%;
}

.conocenos-mapa {
  grid-area: mapa;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 3.6rem;
}
.conocenos-mapa iframe {
  height: 30rem;
  width: 23rem;
}
.conocenos-mapa ul {
  margin-top: 4rem;
  border: 1px solid #deaffc;
  border-radius: 10%;
  padding: 1rem;
}


  .contacto-texto{
    padding: 3rem;
    text-align: justify;
  }
  .contacto-formulario{
    width: 50rem;
    display: flex;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  /* footer media */
  .final-menu{
    display:block;
    border-right: 2px pink solid;
  }

  .final-menu a{
    text-decoration: none;
    color: rgb(225, 223, 223);
  }
}

@media only screen and (min-width:1400px) {

  .inicio-carrusel{
    width: 72rem;
  }
  
  .tratamientos-cartas{
    padding: 1.2rem;
    width: 90rem;
    margin-left: .3rem;
  }

  .productos-cartas{
    padding: 1.2rem;
    width: 90rem;
    margin-left: .3rem;
  }

  .carta-titulo{
    display: inline-block;
    margin-top: 22rem;
    color: #110023;
  }
  .carta-texto{
    display: inline-block;
    color: rgb(72, 78, 83);
  }

}