* {
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
}       

li{
    list-style: none;
}

/* header */

header {
    background-color: #6E4C94  ;
    border-bottom: 1px solid #DEAFFC;
    height: 120px;
    font-size: 17px;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}   

nav {
    width: 100%;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    width: 1200px;
    justify-content: flex-start;
}

.menu__button {
    margin: 10px;
    border-right: 1.7px solid #b9a48b;
    padding: 20px;
    
}

.menu__button a {
    text-decoration: none;
    color: #DEAFFC ;
    
}


.menu__logo img{
    height: 190px;
}

/* main */

main{
    padding: 30px;
    background-color: #6E4C94  ;
    padding: 10px;
    font-size: 30px;
    text-align: left;
}

main p, h1{
    margin: 20px;
    color: #DEAFFC  ;
}
h1 {
    font-size: 45px;
}
/* home */

.inicio__imagen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.inicio__imagen img{
    width: 500px;
    height: 500px;
    padding: 20px;
    border-radius: 120px;
}

/* tratamientos */
 
.tratamientos__imagenes  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5%;
}

.tratamientos__imagenes img{
    width: 300px;
    height: 300px;
    border: 10px solid #b9a48b;
    border-radius: 300px;
    
}

.lifting img{
    position: absolute;
    display: block;
}

.lifting ul {
    position: absolute;
    display: none;
}
.lifting ul li {
    display: block;
}

.lifting ul li:hover img {
    display:block ;
}

/* productos */

.productos__imagenes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5%;
}

.productos__imagenes  img{
    width: 300px;   
    height: 300px;
    border: 10px solid #b9a48b;
    border-radius: 300px;
}

/* conocenos */

.conocenos {
    display: flex;
    flex-flow: row ;
    margin-bottom: 1%;
}

.conocenos__texto {
    font-size: 25px;
    height: 80vh;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.conocenos__texto img{
    width: 380px;
    height: 280px;
    padding: 10px;
}

.conocenos__mapa{
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.conocenos__mapa iframe {
    height: 400px;
    width: 500px;
    border: 1px solid #b9a48b;
    border-radius: 20px;
    margin: 1%;

}

.conocetos__mapa__datos {
    font-size: 20px;
    padding: 2.5%;
    border: 1px solid #b9a48b;
    border-radius: 20px;
    color: #DEAFFC  ;
}

/* contacto */

.contacto {
    display: flex;
    flex-flow: column wrap ;
    margin-bottom: 1%;
}

form{
    width: 40%;
    margin: 1% 30%;
}

.contacto__formulario{    
    border: 1px solid #b9a48b;
    border-radius: 20px;
    color: #DEAFFC ;
    padding: 10px;
}

.contacto__formulario div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 3%;
}

.contacto__formulario div input{
    padding: 1%;
    font-size: 20px;
}

/* footer */

footer{
    padding: 0;
    margin: 0;
    color: #b9a48b;
    font-size:20px;
    font-weight: 700;
}

.final {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgb(41, 41, 41);
    height: 190px;
    padding: 0px 40px;
    border-top:3px solid #DEAFFC;
}

/* reder */

.final__redes {
    margin: 10px;
    padding: 10px;
}

.final__redes img{
    width: 20px;
}

/* autor */

.final__autor {
    margin: 10px;
    padding: 10px;
    border-left: 1.5px solid #b9a48b;
}

/* menu final */

.final__menu{
    margin: 2.5px;
    padding: 2.5px;
    border-left: 1.5px solid #b9a48b;
    margin-right: 15%;
}

.final__menu__button{
    font-size: medium;
    padding: 2px;
    padding-left: 31px;
}

.final__menu__button a {
    text-decoration: none;
    color: #b9a48b;
}
