// import utilities

@import "utilities/variables";

// estilos generales
* {
    font-family: "Cairo", sans-serif;
    box-sizing: border-box;
}
body {
    background-image: $fondo

}
li {
    list-style: none;
}



// import layout

@import "layout/navfooter";

@import "layout/index";

@import "layout/tratamientos";

@import "layout/productos";

@import "layout/conocenos";

@import "layout/contacto";

// import media q

@import "layout/mediaq";