// import utilities

@import "utilities/variables";


// import layout

@import "layout/navfooter";

@import "layout/index";

@import "layout/tratamientos";

@import "layout/productos";

@import "layout/conocenos";

@import "layout/contacto";

// import media q

@import "layout/mediaq";

// estilos generales

body {
    background-image: $fondo
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: $color-texto;
    &:hover{
        color: $color-texto;
    }
    &:focus{
        color: $color-texto;
    }
}