// import

@import "../utilities/variables";


/* inicio */

.inicio {
    @include height-center-grid;
    grid-template-areas:
        "titulo titulo"
        "texto texto";
    .inicio__titulo {
        grid-area: titulo;
        text-align:$alineacion-titulo;
    }
    .inicio__texto {
        @extend .textoprincipal;
    }
}

/* fin inicio */