// import

@import "../utilities/variables";

/* productos */
.productos {
    @include height-center-grid;
    grid-template-areas:
        "titulo titulo"
        "texto texto"
        "imagen imagen"
        "imagen imagen";
    .productos__titulo {
        grid-area: titulo;
        text-align: $alineacion-titulo;
    }
    .productos__texto {
        @extend .textoprincipal;
    }   
}
/* fin productos */