// import

@import "../utilities/variables";

/* tratamientos */

.tratamientos {
    height: 50%;
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "texto texto";
    color: $color-texto;
    justify-content: center;
    .tratamientos__titulo {
        grid-area: titulo;
        text-align: $alineacion-titulo;
    }
    .tratamientos__texto {
        grid-area: texto;
        padding: 1rem;
        text-align: $alineacion-texto;
    }
    
}
.card{
    border-radius: 20% 10%;
    background-color: #f4e4fe;
            img{
                height: 20rem;
                border-radius: 50%;
            }
        }

/* fin tratamientos */ 