// import

@import "../utilities/variables";

/* tratamientos */

.tratamientos {
    @include height-center-grid;
    grid-template-areas:
        "titulo titulo"
        "texto texto";
    .tratamientos__titulo {
        grid-area: titulo;
        text-align: $alineacion-titulo;
    }
    .tratamientos__texto {
        @extend .textoprincipal;
    }
    
}
.card{
    border-radius: 20% 10%;
    background-color: #f4e4fe;
            img{
                height: 20rem;
                border-radius: 50%;
            }
        }

/* fin tratamientos */ 